@import "tailwindcss";

:root {
  --background: #cf1717;
  --foreground: #c31616;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #bb2c2c;
    --foreground: #b81b1b;
  }
}

body {
  margin: 0;
  padding: 0; 
  width: 100%;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

